/*
     888888ba             dP     dP
     88    `8b            88     88
    a88aaaa8P' dP    dP d8888P d8888P .d8888b. 88d888b.
     88   `8b. 88    88   88     88   88'  `88 88'  `88
     88    .88 88.  .88   88     88   88.  .88 88    88
     88888888P `88888P'   dP     dP   `88888P' dP    dP
 */

#addClean, #saveClean, button.remove{
    margin-bottom: 0.625em;
    max-width: 3.875em;
    height: 3em;
    display: inline;
}

th:not(:nth-child(1)){
    width: 12.5em;
}

th:last-child, td:last-child{
    width: 6.25em;
}


select.form-control, select :first-child {
    background-color: #272525;
    color: white;
}

select.updated {
    background-color: white;
    color: #272525;
}