@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*
    8888ba.88ba           oo
    88  `8b  `8b
    88   88   88 .d8888b. dP 88d888b.
    88   88   88 88'  `88 88 88'  `88
    88   88   88 88.  .88 88 88    88
    dP   dP   dP `88888P8 dP dP    dP
*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #272525;
    color: aliceblue;
    align-items: center;
    padding: 1.25em;
}

h2.header {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

a, a:hover{
    color: aliceblue;
    text-decoration: none
}

#content{
    margin-left: auto;
    margin-right: auto;
}

/*
    8888ba.88ba                 dP          dP
    88  `8b  `8b                88          88
    88   88   88 .d8888b. .d888b88 .d8888b. 88
    88   88   88 88'  `88 88'  `88 88'  `88 88
    88   88   88 88.  .88 88.  .88 88.  .88 88
    dP   dP   dP `88888P' `88888P8 `88888P8 dP
*/

.modal-content {
    background-color: #272525;
    color: aliceblue;
}

.close {
    color: aliceblue;
}

/*
    dP                              dP
    88                              88
    88 88d888b. 88d888b. dP    dP d8888P .d8888b.
    88 88'  `88 88'  `88 88    88   88   Y8ooooo.
    88 88    88 88.  .88 88.  .88   88         88
    dP dP    dP 88Y888P' `88888P'   dP   `88888P'
                88
                dP
 */

.form-signin {
    width: 100%;
    max-width: 20.625em;
    padding: 0.9375em;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 0.625em;
    margin-bottom: 0.625em;
    font-size: 1em;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mt-custom {
    margin-top: 10%;
}

/*
    d888888P          dP       dP
       88             88       88
       88    .d8888b. 88d888b. 88 .d8888b.
       88    88'  `88 88'  `88 88 88ooood8
       88    88.  .88 88.  .88 88 88.  ...
       dP    `88888P8 88Y8888' dP `88888P'
 */

.table{
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}