@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background-color: #272525;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

a, a:hover{
    color: aliceblue;
    text-decoration: none
}