#strenghtbar {
    height: 0.1875em;
    display: block;
}

#bar {
    margin-bottom: 0.3125em;
}

.bar0 {
    height: 3px;
    width: 100%;
    background: #272525
}

.bar1 {
    height: 3px;
    width: 20%;
    background: #cc0000
}

.bar2 {
    height: 3px;
    width: 40%;
    background: #fd8f00
}

.bar3 {
    height: 3px;
    width: 60%;
    background: #fdd600
}

.bar4 {
    height: 3px;
    width: 80%;
    background: #fdee00
}

.bar5 {
    height: 3px;
    width: 100%;
    background: #00aa00
}