#content{
    max-width: calc(100% - 31.25em);
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

section {
    max-width: 43.75em;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-top: 8px;
    margin-bottom: 4px;
}

button.leave, button.leave:focus {
    background-color: #cc0000;
    border-color: #cc0000;
}

button.leave:hover {
    background-color: #a10101;
    border-color: #a10101;
}

button.join {
    background-color: #05ce00;
    border-color: #05ce00;
}

button.join:hover {
    background-color: #0cad09;
    border-color: #0cad09;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1069px) {
    #content {
        margin-left: 15.625em;
        max-width: unset;
    }

    section {
        max-width: 31.25em;
        margin-left: 0;
        margin-right: 0;
    }
}