/*
    .d88888b  oo       dP          dP
    88.    "'          88          88
    `Y88888b. dP .d888b88 .d8888b. 88d888b. .d8888b. 88d888b.
          `8b 88 88'  `88 88ooood8 88'  `88 88'  `88 88'  `88
   d8'   .8P 88 88.  .88 88.  ... 88.  .88 88.  .88 88
    Y88888P  dP `88888P8 `88888P' 88Y8888' `88888P8 dP
*/

#sidebar {
    height: 100%;
    min-width: 15.625em;
    max-width: 15.625em;
    background: #3c415e;
    color: aliceblue;
    transition: all 0.3s;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

button#logout{
    background-color: #272525;
    border-color: #272525;
    max-width: 15em;
    margin-left: 0.3125em;
}

button#logout:hover{
    background-color: #1d1c1c;
    border-color: #1d1c1c;
}

#sidebar.active {
    min-width: 7.9375em;
    max-width: 7.9375em;
    text-align: center;
}

#sidebar button,
#sidebar button.btn-info:focus {
    color: aliceblue;
    background: #272525;
    border-color: #272525;
    box-shadow: none;
}

#sidebar.active .sidebar-header h3,
#sidebar.active button#logout bold {
    display: none;
}

#sidebar.active button#logout {
    max-width: 7.3125em;
    margin-left: 0.3125em;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 1.25em 0.625em;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 0.3125em;
}

#sidebar.active ul ul a {
    padding: 0.625em !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 0.625em;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 1.25em;
    background: #3c415e;
}

#sidebar.active .sidebar-header {
    padding: 1.25em 0.3125em 1.25em 0.3125em;
    background: #3c415e;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 1.25em 0;
    border-bottom: 0.0625em solid #272525;
}

#sidebar ul li a {
    padding: 0.625em;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #3c415e;
    background: aliceblue;
}

#sidebar ul li a i {
    margin-right: 0.625em;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3c415e;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.25em;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 1.875em !important;
    background: #3c415e;
}

/*
     a88888b.                     dP                       dP
    d8'   `88                     88                       88
    88        .d8888b. 88d888b. d8888P .d8888b. 88d888b. d8888P
    88        88'  `88 88'  `88   88   88ooood8 88'  `88   88
    Y8.   .88 88.  .88 88    88   88   88.  ... 88    88   88
     Y88888P' `88888P' dP    dP   dP   `88888P' dP    dP   dP
*/

#content {
    width: calc(100% - 15.625em);
    padding: 2.5em 1.25em;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 15.625em;
}

#content.active {
    margin-left: 7.9375em;
    width: calc(100% - 7.9375em);
}

/*
    8888ba.88ba                 dP oo                                              oo
    88  `8b  `8b                88
    88   88   88 .d8888b. .d888b88 dP .d8888b. .d8888b. dP    dP .d8888b. 88d888b. dP .d8888b. .d8888b.
    88   88   88 88ooood8 88'  `88 88 88'  `88 88'  `88 88    88 88ooood8 88'  `88 88 88ooood8 Y8ooooo.
    88   88   88 88.  ... 88.  .88 88 88.  .88 88.  .88 88.  .88 88.  ... 88       88 88.  ...       88
    dP   dP   dP `88888P' `88888P8 dP `88888P8 `8888P88 `88888P' `88888P' dP       dP `88888P' `88888P'
                                                 88
                                                 dP
*/

@media (max-width: 48em) {
    #sidebar {
        min-width: 7.9375em;
        max-width: 7.9375em;
        text-align: center;
        margin-left: 0em !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 0.625em;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header {
        padding: 1.25em 0.3125em 1.25em 0.3125em;
        background: #3c415e;
    }
    #sidebar .sidebar-header h3 {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar button#logout bold{
        display: none;
    }

    #sidebar button#logout i{
        word-break: break-all;
    }

    #sidebar button#logout{
        max-width: 7.3125em;
        margin-left: 0.3125em;
    }

    #sidebar ul li a {
        padding: 1.25em 0.625em;
        text-align: center;
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 0.625em !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #content {
        margin-left: 7.9375em;
        width: calc(100% - 7.9375em);
    }
}
