h5 {
    text-align: center;
}

/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */

.table{
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th:not(:nth-child(2)){
    width: 12.5em;
}

th:last-child, td:last-child{
    width: 6.25em;
}

th:first-child, td:first-child {
    width: 3.125em;
}

tr.done {
    background-color: #71bf71;
}

tr.tooLate {
    background-color: #d75a5a;
}

tr.late {
    background-color: #ffc658;
}

/* ---------------------------------------------------
    BUTTON STYLE
----------------------------------------------------- */

#addToDo, button.remove{
    margin-bottom: 10px;
    max-width: 62px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-control.date{
    display: inline;
    box-sizing: unset;
    width: 50%;
}

.form-control.time{
    display: inline;
    box-sizing: unset;
    width: 40%;
}

.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.mt-custom {
    margin-top: 10%;
}

.form-control {
    margin-bottom: 10px;
}

/* ---------------------------------------------------
    INFO STYLE
----------------------------------------------------- */

.popover-header, .popover-body, .arrow:after {
    background-color: #272525;
    color: aliceblue;
}