<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <!-- Hier beginnen die GUI Seiten -->

    <!-- Login declaration and mapping -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>view.servlets.subservlets.Login</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- Register declaration and mapping -->
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>view.servlets.subservlets.Register</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <!-- Password Reset declaration and mapping -->
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>view.servlets.subservlets.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <!-- Shopping declaration and mapping -->
    <servlet>
        <servlet-name>Shopping</servlet-name>
        <servlet-class>view.servlets.subservlets.Shopping</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Shopping</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <!-- Financial declaration and mapping -->
    <servlet>
        <servlet-name>Financial</servlet-name>
        <servlet-class>view.servlets.subservlets.Financial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Financial</servlet-name>
        <url-pattern>/financial</url-pattern>
    </servlet-mapping>
    <!-- To-Do declaration and mapping -->
    <servlet>
        <servlet-name>ToDo</servlet-name>
        <servlet-class>view.servlets.subservlets.ToDo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToDo</servlet-name>
        <url-pattern>/todo</url-pattern>
    </servlet-mapping>



    <!-- Hier beginnt die Logic -->

    <!-- LoginLogic declaration and mapping -->
    <servlet>
        <servlet-name>LoginLogic</servlet-name>
        <servlet-class>logic.Login</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginLogic</servlet-name>
        <url-pattern>/loginLogic</url-pattern>
    </servlet-mapping>

    <!-- Reset Logic Servlet mapping -->
    <servlet>
        <servlet-name>ResetLogic</servlet-name>
        <servlet-class>logic.Reset</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetLogic</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <!-- Reset Complete Servlet mapping -->
    <servlet>
        <servlet-name>ResetCompleteLogic</servlet-name>
        <servlet-class>logic.ResetComplete</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetCompleteLogic</servlet-name>
        <url-pattern>/resetComplete</url-pattern>
    </servlet-mapping>

    <!-- VerifyServlet declaration and mapping -->
    <servlet>
        <servlet-name>VerifyLogic</servlet-name>
        <servlet-class>logic.Verify</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyLogic</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
</web-app>