<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--
    * ___
        |
        |__ ^^-^^
        |__ LOGIN                       |                                   | Zuständig : @NH      | Mapped by @NH | Zuständig für Inhalt @KA | Initial
        |__ /                           | JSP Page : Login                  | Zuständig : @DK      | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /register                   | JSP Page : Register               | Zuständig : @DK      | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ ^^-^^
        |
        |__ ^^-^^
        |__ LOGIC                       | Package : "logic."                | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /loginLogic                 | Servlet : Login                   | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /reset                      | Servlet : Reset                   | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /resetComplete              | Servlet : ResetComplete           | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /verify                     | Servlet : Verify                  | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /joinWGLogic                | Servlet : JoinWG                  | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /createWGLogic              | Servlet : CreateWG                | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /addTodoLogic               | Servlet : ToDo                    | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /setDoneLogic               | Servlet : SetTodoDone             | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /sendContactRequestLogic    | Servlet : ContactRequest          | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /removeTodoLogic            | Servlet : RemoveTodo              | Zuständig : @PM      | Mapped by @KA | Zuständig für Inhalt @KA | Initial
        |__ /removeShoppingRequestLogic | Servlet : RemoveShoppingRequest   | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /addShoppingRequestLogic    | Servlet : AddShoppingRequest      | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /setBoughtLogic             | Servlet : SetArticleBought        | Zuständig : @PM      | Mapped by @KA | Zuständig für Inhalt @PM | Initial
        |__ /addFinancialEntryLogic     | Servlet : AddFinancialEntry       | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /removeFinancialEntryLogic  | Servlet : RemoveFinancialEntry    | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /changePasswordLogic        | Servlet : ChangePassword          | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /changeNameLogic            | Servlet : ChangeName              | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /leaveWgLogic               | Servlet : LeaveWG                 | Zuständig : @PM      | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /logoutLogic                | Servlet : Logout                  | Zuständig: @PM       | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /updateCleaningLogic        | Servlet : UpdateCleaningAssignees | Zuständig: @PM       | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ /addCleaningLogic           | Servlet : UpdateCleaningAssignees | Zuständig: @PM       | Mapped by @KA | Zuständig für Inhalt @PM | Initial
        |__ /removeCleaningLogic        | Servlet : RemoveCleaning          | Zuständig: @PM       | Mapped by @PM | Zuständig für Inhalt @PM | Initial
        |__ ^^-^^
        |__
        |__ ^^-^^
        |__ GUI                         |                                   | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /home                       | JSP Page : Home                   | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /financial                  | JSP Page : Finanzielles           | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @KA | Initial
        |__ /todo                       | JSP Page : ToDo                   | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /clean                      | JSP Page : Putzplan               | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /shopping                   | JSP Page : Einkaufsliste          | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @KA | Initial
        |__ /faq                        | JSP Page : FAQ                    | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /contact                    | JSP Page : Kontakt                | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /impressum                  | JSP Page : Impressum              | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /settings                   | JSP Page : Settings               | Zuständig : @KA      | Mapped by @KA | Zuständig für Inhalt @KA | Initial
        |__ /wgverwaltung               | JSP Page : WGVerwaltung           | Zuständig : @KA/LK   | Mapped by @NH | Zuständig für Inhalt @DK | Initial
        |__ /resetPassword              | JSP Page : WGVerwaltung           | Zuständig : @KA      | Mapped by @KA | Zuständig für Inhalt @KA | Initial
        |__ ^^-^^
        |__
        |__ ^^-^^
        |__ Response                    |                                   | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ /responseSuccess            | JSP Page : Response / Failure     | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ /responseFailure            | JSP Page : Response / Failure     | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ /responseWrongEntry         | JSP Page : Response / Failure     | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ /responseWrongUName         | JSP Page : Response / Failure     | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ /responseWrongPassword      | JSP Page : Response / Failure     | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ /responseWrongEMail         | JSP Page : Response / Failure     | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ /responseWrongTryAgain      | JSP Page : Response / Failure     | Zuständig : @NH      | Mapped by @NH                            | Initial
        |__ ^^-^^
    -->
    <!-- ############################################################################################################ -->
    <!--
        dP     dP oo                         888888ba
        88     88                            88    `8b
        88    .8P dP .d8888b. dP  dP  dP    a88aaaa8P' .d8888b. .d8888b. .d8888b. .d8888b.
        88    d8' 88 88ooood8 88  88  88     88        88'  `88 88'  `88 88ooood8 Y8ooooo.
        88  .d8P  88 88.  ... 88.88b.88'     88        88.  .88 88.  .88 88.  ...       88
        888888'   dP `88888P' 8888P Y8P      dP        `88888P8 `8888P88 `88888P' `88888P'
                                                                     .88
                                                                 d8888P
    -->
    <!-- Always accessible -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Pages/Public/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/Pages/Public/Register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FAQ</servlet-name>
        <jsp-file>/Pages/Public/FAQ.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FAQ</servlet-name>
        <url-pattern>/faqPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <jsp-file>/Pages/Public/Contact.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contactPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Impressum</servlet-name>
        <jsp-file>/Pages/Public/Impressum.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Impressum</servlet-name>
        <url-pattern>/impressumPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <jsp-file>/Pages/Public/ResetPassword.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <!-- Filter Servlet -->
    <servlet>
        <servlet-name>HomeTest</servlet-name>
        <servlet-class>filter.MainFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeTest</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/todo</url-pattern>
        <url-pattern>/mytodo</url-pattern>
        <url-pattern>/wgverwaltung</url-pattern>
        <url-pattern>/financial</url-pattern>
        <url-pattern>/clean</url-pattern>
        <url-pattern>/shopping</url-pattern>
        <url-pattern>/settings</url-pattern>
        <url-pattern>/faq</url-pattern>
        <url-pattern>/impressum</url-pattern>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <!-- Protected via Filter Servlet -->
    <servlet>
        <servlet-name>WG-Verwaltung</servlet-name>
        <jsp-file>/Pages/Protected/WGVerwaltung.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WG-Verwaltung</servlet-name>
        <url-pattern>/wgverwaltungPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/Pages/Protected/Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/homePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Financial</servlet-name>
        <jsp-file>/Pages/Protected/Financial.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Financial</servlet-name>
        <url-pattern>/financialPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ToDo</servlet-name>
        <jsp-file>/Pages/Protected/ToDo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToDo</servlet-name>
        <url-pattern>/todoPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyToDo</servlet-name>
        <jsp-file>/Pages/Protected/MyToDo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyToDo</servlet-name>
        <url-pattern>/mytodoPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cleaning</servlet-name>
        <jsp-file>/Pages/Protected/Clean.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cleaning</servlet-name>
        <url-pattern>/cleanPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Shopping</servlet-name>
        <jsp-file>/Pages/Protected/Shopping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Shopping</servlet-name>
        <url-pattern>/shoppingPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <jsp-file>/Pages/Protected/Settings.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/settingsPage</url-pattern>
    </servlet-mapping>
    <!-- ############################################################################################################ -->
    <!--
         a88888b.                     dP                     dP dP
        d8'   `88                     88                     88 88
        88        .d8888b. 88d888b. d8888P 88d888b. .d8888b. 88 88 .d8888b. 88d888b.
        88        88'  `88 88'  `88   88   88'  `88 88'  `88 88 88 88ooood8 88'  `88
        Y8.   .88 88.  .88 88    88   88   88       88.  .88 88 88 88.  ... 88
         Y88888P' `88888P' dP    dP   dP   dP       `88888P' dP dP `88888P' dP
    -->
    <servlet>
        <servlet-name>LoginLogic</servlet-name>
        <servlet-class>logic.Login</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginLogic</servlet-name>
        <url-pattern>/loginLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetLogic</servlet-name>
        <servlet-class>logic.Reset</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetLogic</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetCompleteLogic</servlet-name>
        <servlet-class>logic.ResetComplete</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetCompleteLogic</servlet-name>
        <url-pattern>/resetComplete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyLogic</servlet-name>
        <servlet-class>logic.Verify</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyLogic</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JoinWGLogic</servlet-name>
        <servlet-class>logic.JoinWG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinWGLogic</servlet-name>
        <url-pattern>/joinWGLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateWGLogic</servlet-name>
        <servlet-class>logic.CreateWG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateWGLogic</servlet-name>
        <url-pattern>/createWGLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTodoLogic</servlet-name>
        <servlet-class>logic.CreateToDo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTodoLogic</servlet-name>
        <url-pattern>/addTodoLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetTodoDoneLogic</servlet-name>
        <servlet-class>logic.SetTodoDone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetTodoDoneLogic</servlet-name>
        <url-pattern>/setDoneLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContactRequestLogic</servlet-name>
        <servlet-class>logic.ContactRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactRequestLogic</servlet-name>
        <url-pattern>/sendContactRequestLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveTodoLogic</servlet-name>
        <servlet-class>logic.RemoveTodo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveTodoLogic</servlet-name>
        <url-pattern>/removeTodoLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveShoppingRequestLogic</servlet-name>
        <servlet-class>logic.RemoveShoppingRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveShoppingRequestLogic</servlet-name>
        <url-pattern>/removeShoppingRequestLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddShoppingRequestLogic</servlet-name>
        <servlet-class>logic.AddShoppingRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddShoppingRequestLogic</servlet-name>
        <url-pattern>/addShoppingRequestLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetArticleBought</servlet-name>
        <servlet-class>logic.SetBoughtShopping</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetArticleBought</servlet-name>
        <url-pattern>/setBoughtLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFinancialEntryLogic</servlet-name>
        <servlet-class>logic.AddFinancialEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFinancialEntryLogic</servlet-name>
        <url-pattern>/addFinancialEntryLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveFinancialEntryLogic</servlet-name>
        <servlet-class>logic.RemoveFinancialEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFinancialEntryLogic</servlet-name>
        <url-pattern>/removeFinancialEntryLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordLogic</servlet-name>
        <servlet-class>logic.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordLogic</servlet-name>
        <url-pattern>/changePasswordLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeNameLogic</servlet-name>
        <servlet-class>logic.ChangeName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeNameLogic</servlet-name>
        <url-pattern>/changeNameLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LeaveWGLogic</servlet-name>
        <servlet-class>logic.LeaveWG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveWGLogic</servlet-name>
        <url-pattern>/leaveWgLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutLogic</servlet-name>
        <servlet-class>logic.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutLogic</servlet-name>
        <url-pattern>/logoutLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCleaningLogic</servlet-name>
        <servlet-class>logic.UpdateCleaningAssignees</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCleaningLogic</servlet-name>
        <url-pattern>/updateCleaningLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCleaningLogic</servlet-name>
        <servlet-class>logic.AddCleaningTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCleaningLogic</servlet-name>
        <url-pattern>/addCleaningLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveCleaningLogic</servlet-name>
        <servlet-class>logic.RemoveCleaning</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveCleaningLogic</servlet-name>
        <url-pattern>/removeCleaningLogic</url-pattern>
    </servlet-mapping>
    <!-- ############################################################################################################ -->
    <!--
     888888ba                                                                     888888ba
     88    `8b                                                                    88    `8b
     a88aaaa8P' .d8888b. .d8888b. 88d888b. .d8888b. 88d888b. .d8888b. .d8888b.    a88aaaa8P' .d8888b. .d8888b. .d8888b. .d8888b.
     88   `8b. 88ooood8 Y8ooooo. 88'  `88 88'  `88 88'  `88 Y8ooooo. 88ooood8     88        88'  `88 88'  `88 88ooood8 Y8ooooo.
     88     88 88.  ...       88 88.  .88 88.  .88 88    88       88 88.  ...     88        88.  .88 88.  .88 88.  ...       88
     dP     dP `88888P' `88888P' 88Y888P' `88888P' dP    dP `88888P' `88888P'     dP        `88888P8 `8888P88 `88888P' `88888P'
                                 88                                                                       .88
                                 dP                                                                   d8888P
    -->
    <servlet>
        <servlet-name>ResponseSuccess</servlet-name>
        <jsp-file>/Pages/Response/Success.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseSuccess</servlet-name>
        <url-pattern>/responseSuccess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseFailure</servlet-name>
        <jsp-file>/Pages/Response/Failure.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseFailure</servlet-name>
        <url-pattern>/responseFailure</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseWrongEntry</servlet-name>
        <jsp-file>/Pages/Response/WrongEntry.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseWrongEntry</servlet-name>
        <url-pattern>/responseWrongEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseWrongUName</servlet-name>
        <jsp-file>/Pages/Response/WrongUName.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseWrongUName</servlet-name>
        <url-pattern>/responseWrongUName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseWrongPassword</servlet-name>
        <jsp-file>/Pages/Response/WrongPassword.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseWrongPassword</servlet-name>
        <url-pattern>/responseWrongPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseWrongEMail</servlet-name>
        <jsp-file>/Pages/Response/WrongEMail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseWrongEMail</servlet-name>
        <url-pattern>/responseWrongEMail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseTryAgain</servlet-name>
        <jsp-file>/Pages/Response/TryAgain.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseTryAgain</servlet-name>
        <url-pattern>/responseTryAgain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Status</servlet-name>
        <jsp-file>/Pages/Response/Status.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/Pages/Response/404.jsp</location>
    </error-page>
</web-app>