<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>view.servlets.subservlets.Content</servlet-class>
        <init-param>
            <param-name>myInitParam</param-name>
            <param-value>Deployment-Descriptor</param-value>
        </init-param>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <!-- LoginServlet declaration and mapping -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>view.servlets.subservlets.Login</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- LoginServlet declaration and mapping -->
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>view.servlets.subservlets.Register</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <!-- LoginServlet declaration and mapping -->
    <servlet>
        <servlet-name>LoginServletLogic</servlet-name>
        <servlet-class>logic.LoginLogic</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServletLogic</servlet-name>
        <url-pattern>/loginLogic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetServletLogic</servlet-name>
        <servlet-class>logic.ResetLogic</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetServletLogic</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>


    <!-- VerifyServlet declaration and mapping -->
    <servlet>
        <servlet-name>VerifyServletLogic</servlet-name>
        <servlet-class>logic.VerifyLogic</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyServletLogic</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
</web-app>